<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>api.michaelsnook.com</title>
    <meta name="author" content="Michael Snook">
  </head>

  <body>
    <p>
      you are probably looking for the actual website at https://michaelsnook.com
      <br />or the content API at https://api.michaelsnook.com/api/v1/posts/index
    </p>
  </body>
</html>
